* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.italianno-regular {
    font-family: "Italianno", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #1a2a6c, #b21f1f);
    color: white;
    padding: 10px; 
}
.main{
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, #FF0000, #fff200, #ff0000, #fffba7, #6600ff, #4B0082, #d53bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 3em; 
    margin-bottom: 0.5em;
    
}
.footer{
    text-align: center;
}
.h {
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 2.5vh;
}
.h33 {
    text-align: center;
    font-size: 2.5vh ;
    margin-top: -22vh;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    width: 250px;
    height: 300px;
    perspective: 1000px;
}
.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
}
.card-front {
    background-color: #f0f0f0;
}
.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block;
}
.card-back {
    background-color: #2c3e50;
    color: white;
    transform: rotateY(180deg);
}
.card:nth-child(1) .card-back {
    background: linear-gradient(to bottom, #FFB6C1, #FFDAB9); 
}
.card:nth-child(3) .card-back {
    background: linear-gradient(to bottom, #A0522D, #C68E17); 
}
.sumi{
    position: relative;
    text-align: center;
    font-size: small;
    font-family:'Courier New', Courier, monospace;
    color: black;
}
.sumi1{
    position: relative;
    text-align: center;
    font-size: small;
    font-family:'Courier New', Courier, monospace;
    color: #EEEEEE;
}
.card:nth-child(4) .card-back {
    background: linear-gradient(to bottom, #A0522D, #000000); 
}
.card:nth-child(2) .card-back {
    background: linear-gradient(to bottom, #ADD8E6, #FFFFFF); 
}
.card-back1 {
    background: linear-gradient(to bottom, #ADD8E6, #FFFFFF); 
    transform: rotateY(180deg);
    color: #000000;
    font-size: smaller;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size: smaller;
    font-family:'Courier New', Courier, monospace;
}
.card-back2{
    background: linear-gradient(to bottom, #A0522D, #C68E17); 
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.card-back3{
        background: linear-gradient(135deg, #89CFF0, #CBAACB, #FFCBA4, #FF6F61);
        color: #2F2F2F; 
        font-family: 'Arial', sans-serif;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
        transform: rotateY(180deg);
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    

}
.virgo{
    background: linear-gradient(to bottom, #a8c0a4, #e8ddc1, #8b8073);
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
    color: #2C3E50; 
    text-shadow: 0 0 5px rgba(72, 64, 64, 0.773);
    
}
.scorpio{
    background: linear-gradient(to bottom, #3c0d3c, #730d5d, #b81739, #e64400, #400a00);
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
    color: #FFFFFF; 
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);

}
.cancer{
    background: linear-gradient(to bottom, #DDECF8, #A2D2FF, #457B9D, #1D3557);
    color: #040404; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6); 
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.pisces{
    background: linear-gradient(to bottom, #2E3192, #1BFFFF, #0072FF, #001F54);
    color: #151212c8; 
    text-shadow: 0 0 8px rgb(255, 255, 255); 

    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;

}
.aquarius{
    background: linear-gradient(to bottom, #00BFFF, #1E90FF, #8A2BE2, #4B0082);
    color: #FFFFFF; 
    text-shadow: 0 0 8px rgba(0, 255, 255, 0.6); 
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.libra{
    background: linear-gradient(to bottom, #8B0000, #A52A2A, #B8860B, #D2691E);
    color: #FFFFFF; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6); 

    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.taurus{
    background: linear-gradient(to bottom, #7c4905, #D4A76A, #deb458, #925a11);
    color: #FFFFFF; 
    text-shadow: 0 0 5px rgba(34, 2, 2, 0.966); 

    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.capricorn{
    background: black;
    color: #FFD700;
    text-shadow: 0 0 4px rgba(174, 148, 1, 0.7), 0 0 10px rgba(255, 215, 0, 0.7), 0 0 15px rgba(255, 215, 0, 0.7), 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700;

    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.sagittarius{
    background: linear-gradient(to bottom, #FBB034, #ff8c00); 
    color: #c63500;
    text-shadow: 0 0 5px rgba(207, 119, 86, 0.8), 0 0 10px rgba(215, 59, 2, 0.7), 0 0 15px rgba(255, 69, 0, 0.6), 0 0 20px #FF4500;
    
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.leo{
    background: linear-gradient(to bottom, #8B3D1C, #5A2C13);
    color: #FFD700;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.8), 0 0 10px rgba(255, 215, 0, 0.7), 0 0 15px rgba(255, 215, 0, 0.6), 0 0 20px #FFD700;
    
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.gemini{
    background: linear-gradient(to bottom, #6A8D92, #A0B9B1);
    color: #FFFFFF;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.6);
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.aries{
    background: linear-gradient(to bottom, #9B1B30, #6F0031);
    color: #e8dddd;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6);
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.dream{
    background: linear-gradient(to bottom, #F8BBD0, #FF80AB);
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 182, 193, 0.9);
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;

}
.dark{
    background: linear-gradient(to bottom, #1a1a1a, #333333);
    color: #D3D3D3;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6);
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.vintage{
    background: linear-gradient(to bottom, #D4B69A, #B58A6C);
    color: #4B3A29;
    text-shadow: 0 0 5px rgba(255, 223, 186, 0.8), 0 0 10px rgba(255, 223, 186, 0.6);
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.mystery{
    background: linear-gradient(to bottom, #2C2C2C, #121212);
    color: #B1A7A6;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.black{
    background: linear-gradient(to bottom, #000000, #2d2d2d);
    color: #FFFFFF;
    text-shadow: 0 0 15px #FFFFFF, 0 0 30px #FFFFFF;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;

}
.white{
    background: linear-gradient(to bottom, #ffffff, #f0f0f0);
    color: #000000;
    text-shadow: 0 0 5px #332f2f, 0 0 10px #514e4e;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
    
}
.violet{
    background: linear-gradient(to bottom, #7f00ff, #9b59b6);
    color: #ffffff;
    text-shadow: 0 0 8px #ffffff, 0 0 15px #7f00ff;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;

}
.blue{
    background: linear-gradient(to bottom, #00bfff, #87ceeb);
    color: #d5f8ff;
    text-shadow: 0 0 8px #ffffff, 0 0 15px #00bfff;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;

}
.orange{
    background: linear-gradient(to bottom, #ff7f50, #ff4500);
    color: #ffffff;
    text-shadow: 0 0 8px #ff4500, 0 0 15px #ff7f50;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;

}
.red{
    background: linear-gradient(to bottom, #8b0000, #ff0000);
    color: #ffffff;
    text-shadow: 0 0 8px #ff0000, 0 0 15px #8b0000;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;

}
.grey{
    background: linear-gradient(to bottom, #4b4b4b, #a9a9a9);
    color: #ffffff;
    text-shadow: 0 0 6px #dcdcdc, 0 0 12px #a9a9a9;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;
}
.green{
    background: linear-gradient(to bottom, #2e8b57, #98fb98);
    color: #ffffff;
    text-shadow: 0 0 6px #00ff00, 0 0 12px #2e8b57;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    font-size: medium;
    position: relative;
    text-align: center;
    font-size:xx-small;
    font-family:'Courier New', Courier, monospace;

}
@media (max-width: 480px) {

    .h {
        font-size: 2.5vh; 
    }
    
    .h33 {
        font-size: 2vh; 
    }
    .main{
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, #FF0000, #fff200, #ff0000, #fffba7, #6600ff, #d1abec, #d53bd5);
    font-size: 2em;
    }
}